{{ $cover := .Site.Data.cover }}
{{ $baseUrl := .Site.BaseURL }}

<section class="cover p-lg-5 p-md-5 p-3">
  <div class="bgImage">
    {{ if eq (printf "%T" $cover.images) "string"}}
      <div class="coverImage" style="background-image: url('{{$baseUrl}}images/covers/{{ $cover.images }}')"></div>
    {{ end }}
    {{ if eq (printf "%T" $cover.images) "[]interface {}" }}
      {{ if lt (len $cover.images) 2}}
        <div class="coverImageStatic" style="background-image: url('{{$baseUrl}}images/covers/{{ index $cover.images 0 }}')"></div>
      {{ else }}
        {{ range $cover.images }}<div class="coverImage" style="background-image: url('{{$baseUrl}}images/covers/{{ . }}')"></div>
        {{ end }}
      {{ end }}
    {{ end }}
  </div>

  <div class="container h-100">
    <div class="d-flex h-100 align-items-center">
      <div class="coverInfo">
          <h1 class="h1 text-light">{{ $cover.title }}</h1>
          <p class="text-light sub-heading">{{ $cover.description }}</p>
          <a href="{{ $cover.button.href }}" class="btn btn-outline-light">{{ $cover.button.text }}</a>      
      </div>
      <!-- <div class="col-12 col-lg-6 col-md-6 col-sm-12"> -->
          <!-- <img src="/images/cover.svg" class="float-right" style="max-width: 100%"> -->
      <!-- </div> -->
    </div>
    
  </div>
</section>

<style type="text/css">
  .cover{
    margin-top: -80px;
    position: relative;
    height: 500px;
    
    
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  }

  .cover .bgImage{
    z-index: -1;
    width: 100%;
  }

  .cover .bgImage:after{
    content: '';
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: #334c6170;
  }

  .cover .coverInfo{
    z-index: 1;
  }

  {{ if eq (printf "%T" $cover.images) "[]interface {}" }}
    {{ if gt (len $cover.images) 1 }}
      .cover .bgImage div.coverImage{
        height: 100%;
        background-size: cover;
        position: absolute;
        animation: slide {{mul (len $cover.images) 5 }}s infinite;
        opacity: 0;
      }

      {{ range $index, $element := $cover.images }}
        {{ if eq (add $index 1) (len $cover.images) }}

        {{ else }}
        .bgImage > div.coverImage:nth-child({{add $index 2}}) {
          animation-delay: {{mul (add $index 1) 5}}s;
        }
        {{ end }}
      {{ end }}

      @keyframes slide {
        10% {
          opacity: 1;
        }
        20% {
          opacity: 1;
        }
        90% {
          opacity: 0;
        }
        100% {
          transform: scale(1.1);
        }
      }
    {{ end }}

  {{ end }}

  .coverImageStatic{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
  }

  .coverImage{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center; 
    top: 0;
    left: 0;
    opacity: 0.9;
    right: 0;
    z-index: -1;
  }



  @keyframes breath {
    0%   { background-size: 100% auto; }
    50% { background-size: 140% auto; }
    100% { background-size: 100% auto; }
  }

  .cover .sub-heading{
    opacity: .6;
  } 
</style>
