{{ $navtype := "hello" }}
{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<section class="cover p-lg-5 p-md-5 p-3">
  <div class="bgImage">
  </div>
  <div class="container h-100">
    <div class="d-flex h-100 align-items-center">
      <div class="coverInfo">
          <h1 class="h1 text-light">{{ .Params.title }}</h1>
          <p class="text-light sub-heading">{{ .Params.description }}</p>
      </div>
      <!-- <div class="col-12 col-lg-6 col-md-6 col-sm-12"> -->
          <!-- <img src="/images/cover.svg" class="float-right" style="max-width: 100%"> -->
      <!-- </div> -->
    </div>
    
  </div>
</section>

<div class="container py-5">
  <p>{{ .Content }}</p>
</div>
  
<style type="text/css">
  .cover{
    margin-top: -80px;
    position: relative;
    height: 500px;
    
    
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  }

  .cover .bgImage{
    z-index: -1;
    width: 100%;
  }

  .cover .bgImage:after{
    content: '';
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: #c08674;
  }

  .cover .coverInfo{
    z-index: 1;
  }

  .coverImageStatic{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
  }

  .coverImage{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center; 
    top: 0;
    left: 0;
    opacity: 0.9;
    right: 0;
    z-index: -1;
  }



  @keyframes breath {
    0%   { background-size: 100% auto; }
    50% { background-size: 140% auto; }
    100% { background-size: 100% auto; }
  }

  .cover .sub-heading{
    opacity: .6;
  } 
</style>
 
{{ partial "footer.html" . }}

{{ partial "footer-end.html" }}